@mixin buttonHover($color,$backgroundColor:#fff) {

    background-color: $backgroundColor;
    border-color: $color;
    color: $color;

}

@mixin colorToRed {
    filter: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(1381%) hue-rotate(330deg) brightness(118%) contrast(97%);
}
