*{
    margin:0;
    box-sizing: border-box;
   scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
a:link{
    text-decoration: none;
    color:#fff;
}


/* visited link */
a:visited {
  
}

